body {
    background-color: rgba(255, 31, 97, 1);
    color: rgba(255, 255, 255, 1);
    text-align: left;
}

div {
    background-color: rgba(255, 169, 148, 1);
    color: rgba(255, 31, 97, 1);
    margin: 20px;
    width: 500px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}    

#header {
    font: 48px sans-serif;
    text-align: center;
}

#feed {
    font: 16px sans-serif;
    list-style-type: none;
}

a:link {
    color: rgba(255, 31, 97, .5);
}

a:hover {
    color: rgba(255, 31, 97, .2);
}

a:visited {
    color: rgba(255, 31, 97, .5);
}

#timeline {
    background-color: rgba(255, 31, 97, 1);
    color: rgba(255, 169, 148, 1);
}

button {
    background-color: rgba(255, 169, 148, 1);
    color: rgba(255, 31, 97, 1);
    font: 16px sans-serif;
    border: none;
    line-height: auto;
    transition: background-color 1s ease;
}

button:hover {
    background-color: rgba(255, 31, 97, 1);
    color: rgba(255, 169, 148, 1);
}